@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        /*nota: si quiero modificar la tipografia del txt ponerlo en su clase*/
        body {
            /* Paleta de colores
                #EEE2DF -- cremita
                #DEC1DB -- rosa bebé
                #5B61B2 -- lila azulado
                #2F80E4 -- azul
                #6DA0E1 -- celeste
                --
                #EDABBE -- rosita fondo
                #DE5C8F -- rosa botones
                #7C4EBB -- violeta banner
                #872d72 -- violeta vino
                #FBF4EB -- CARD
            */
            margin: 0;
            font-family: Consolas, sans-serif;
            background-color: #EDABBE;
            display: flex; /*esto hace de contenedor o "cajita"*/
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-box {
            background-color: #FBF4EB;
            padding: 0.8rem;
            border-radius: 2rem;
            box-shadow: 0 0 10px #030206;
            width: 300px;
            text-align: center;
        }

        h1 {
            color: #DE5C8F;
            margin-bottom: 1.5rem;
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* el cover hace que la img esté dentro del contenedor y se adapte a su tamaño */
        }

        /*solo modifica el txt de usuario y contraseña*/
        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 3rem; 
            margin: 0.5rem 0;
            border: none;
            border-radius: 10px;
            background-color: #EEE2DF;
            font-family: Consolas, sans-serif;
            color: #DE5C8F;
            font-size: 1rem;
            padding: 0 1rem; 
            box-sizing: border-box; 
        }

        .btn {
            background-color: #DE5C8F;
            color: white;
            font-family: Consolas, sans-serif;
            border: none;
            padding: 0.8rem;
            width: 100%;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 1rem;
        }

        .btn:hover {
            background-color: #7C4EBB;
        }

        .error {
            /*correspondiente al viewbag*/
            color: #e63c23;
            font-size: 0.9rem;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <form class="login-box" method="post" action="/Login/Login">
        <h1>Bienvenido</h1>
        <img src="~/images/clumsy.png" alt="monigote" class="img"/>
        <input type="text" name="username" placeholder="Usuario" required/>
        <input type="password" name="password" placeholder="Contraseña" required />
        <button type="submit" class="btn">Entrar</button>

        @if (!string.IsNullOrEmpty(ViewBag.Error as string))
        {
            <p class="error">@ViewBag.Error</p>
        }
    </form>
</body>
</html>
