@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
}

<div class="card">
    <h1>¡Bienvenidos a mi página web!</h1>
    @if (ViewBag.Mensaje != null)
    {
        <p style="color: #fff; font-weight: bold;">@ViewBag.Mensaje</p>
    }
    <p>En proceso de construcción</p>
</div>

